/*
	Mystic 5
*/

.logo-img{
    margin: 10% 10%;
    width: 80%;
}

@font-face {
    font-family: "allember";
    src: url("../fonts/allember.ttf");
}
  
h1 {
    font-family: "Allember", serif;
}

.lang-btn {
    cursor: pointer;
    margin: 0 10px;
}