/*
	Mystic 5
*/

.logo-img{
    margin: 10% 10%;
    width: 80%;
}

@font-face {
    font-family: "allember";
    src: url("../fonts/allember.ttf");
}
  
h1 {
    font-family: "Allember", serif;
}

.lang-btn {
    cursor: pointer;
    margin: 0 10px;
}

.info_frame {
    position: relative;
    border-radius: 10px;
    border: 1px solid white;
    margin: 32px 16px 16px;
    padding: 16px 32px;
}

.col {
    display: flex;
    justify-content: space-between;
}

.author {
    width: 100%;
    padding-right: 32px;
    font-weight: 500;
    text-align: right;
}

.news_img {
    position: absolute;
    right: 48px;
}

.info_frame ul {
    margin-bottom: 16px;
}

article {
    padding-bottom: 48px !important;
}

/*
	Progress Bar (http://jsfiddle.net/cherryflavourpez/Bq3Fm/)
*/

.meter { 
    height: 5px;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #e4c465;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

/*Add for DARO website*/
/*Gallery*/

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.container-xlarge {
	height: 500px;
}

.container-large {
	height: 450px;
}

.container-medium {
	height: 400px;
}

.container-small {
	height: 300px;
}

.mySlides img{
	object-fit: contain;
}

/* Hide the images by default */
.mySlides-nightmare, .mySlides-invasion {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  padding: 2px 16px 10px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 8%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}